<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'translator_web/style.css' %}">
    {% block links %}{% endblock links %}
    {% block title %}<title>Translator</title>{% endblock title %}
</head>
<body>
    {% block header %}{% endblock header %}
    <div class='content-container'>
        {% block content %}{% endblock content %}
    </div>
    {% block footer %}{% endblock footer %}
</body>
</html>