* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content-container {
    width: 1200px;
    margin: auto;
}

.translate-text {
    width: 100%;
    min-height: 200px;
    resize: none;
    border: none;
    line-height: inherit;
    font-size: inherit;
}

.translate-text:focus-visible{
    outline: none;
}

.translator-description-container {
    margin-bottom: 20px;
}

.translate-language-container {
    margin-bottom: 10px;
}

.buttons-container {
    margin-bottom: 4px;
}

.code-output-wrapper {
    width: 100%;
    min-height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px;
}

.output-container {
    margin-top: 10px;
}

.textarea-line-numbers {
    overflow: hidden;
    flex-grow: 0;
    flex-basis: 30px;
    border-right: 1px solid #c0c0c0;
    margin-right: 8px;
    padding-top: 1px;
}

.lined-textarea-container {
    display: flex;
    border: 1px solid #c0c0c0;
    font-family: monospace;
    line-height: 1.2;
}

.lined-textarea-container:focus-within {
    outline: 2px solid blue;
}

.line-number {
    font-size: inherit;
    text-align: right;
    line-height: inherit;
}