* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

option {
    border: initial;
    color: initial;
    background-color: initial;
}

.content-container {
    width: 1200px;
    margin: auto;
}

.translate-text {
    width: 100%;
    min-height: 200px;
    resize: none;
    border: none;
    line-height: inherit;
    font-size: inherit;
}

.translate-text:focus-visible{
    outline: none;
}

.translator-description-container {
    margin-bottom: 20px;
}

.translate-language-container {
    margin-bottom: 10px;
}

.buttons-container {
    margin-bottom: 4px;
}

.code-output-wrapper {
    width: 100%;
    min-height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px;
    margin-bottom: 15px;
}

.output-container {
    margin-top: 10px;
}

.textarea-line-numbers {
    overflow: hidden;
    flex-grow: 0;
    flex-basis: 30px;
    border-right: 1px solid #c0c0c0;
    margin-right: 8px;
    padding-top: 1px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lined-textarea-container {
    display: flex;
    border: 1px solid #c0c0c0;
    font-family: monospace;
    line-height: 1.2;
}

.lined-textarea-container:focus-within {
    outline: 2px solid blue;
}

.line-number {
    font-size: inherit;
    text-align: right;
    line-height: inherit;
}

.token-description {
    margin-bottom: 10px;
}

.code-snippet {
    background-color: #dcdcdc;
    border-radius: 6px;
    padding: .2em .4em;
}

.translator-specifications-list {
    padding-left: 30px;
}

.specification-header {
    width: 1200px;
    margin: auto;
    padding: 15px 0;
}

.button-reset-translate, .button-translate {
    background: white;
    padding: 1px 4px;
    border: 2px black solid;
    border-radius: 6px;
}

.button-reset-translate:hover, .button-translate:hover, .translate-language-select:hover {
    border-color: blue;
    color: blue;
}

.translate-language-select {
    border: 2px solid black;
    border-radius: 6px;
    padding: 1px 0 1px 4px;
}

.button-reset-translate, .button-translate, .translate-language-select {
    cursor: pointer;
}

.specification-list {
    padding-left: 15px;
    margin-bottom: 15px;
}

@media (max-width: 1250px) {
    .content-container, .specification-header {
        width: 768px;
    }
}

@media (max-width: 780px) {
    .content-container, .specification-header {
        width: 390px;
    }
}

@media (max-width: 410px) {
    .content-container, .specification-header {
        width: 320px;
    }

    .specification-header {
        text-align: center;
    }
}

@media (max-width: 330px) {
    .content-container, .specification-header {
        width: 310px;
    }
}